<!DOCTYPE html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
        <body>
            <h1>Jokes</h1>
            <ul>
              <% jokes.forEach(function(j) { %>
                <li>
                  <%= j.joke %>
                    - 
                  <%= j.funny ? 'funny' : 'not funny' %>
                </li>
              <% }); %>
            </ul>
          </body>
        
    </body>
</html>