<!DOCTYPE html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
        <h1>Jokes</h1>
        <ul>
            <% jokes.forEach(function(j) { %>
            <li>
                <form action="/jokes/<%= j.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                  </form>
                <a href="/jokes/<%= j.id %>"><%= j.joke %></a>
                    - 
                <%= j.funny ? 'funny' : 'not funny' %>
            </li>
            <% }); %>
        </ul>
        <a href="/jokes/new">Add Joke</a>
    </body>
        
</html>