<!DOCTYPE html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
    <h1>Jokes</h1>
            <%= joke.joke %>
                - 
            <%= joke.funny ? 'funny' : 'not funny' %>
        
    </body>
</html>