<!DOCTYPE html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
    <h1>Jokes</h1>
           
            <a href="/jokes/<%= joke.id %>/edit"><%= joke.joke %></a>
                - 
            <%= joke.funny ? 'funny' : 'not funny' %>
        
    </body>
</html>