<!DOCTYPE html>
    <head>
        <title>Jokes</title>
    </head>
    <body>
      <h1>Update Joke</h1>
      <form action="/jokes" method="POST" autocomplete="off">
        <input type="text" name="joke" value="<%=joke.joke%>" size='600'>
        <button type="submit">Update Joke</button>
      </form>
    </body>
</html>